.productsHome_container{
    width: 100%;
}
.productsHome_container_div{
    padding-bottom: 15px !important;
}
@media (min-width: 768px) {
    .productsHome_container_div{
        padding-bottom: 30px !important;
    }
}