/* SECTION 1 */
.topBar_section1 {
    width: 100%;
    background-color: black;
    display: flex;
    gap: 10px;
    padding: 0 15px;
}
.topBar_section1 nav {
    column-gap: 60px;
}
.topBar_section1 a {
    font-size: 11px;
    color: white;
    padding: 5px 0 !important;
}

/* SECTION 2 DIVIDIR */
.topBar_section2Dividir {
    padding: 10px 35px;
    border-bottom: 1px solid rgb(234, 233, 233);
}

.topBar_section2Dividir_container {
    display: none;
}

.topBar_section2Dividir_nav {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: flex-end;
    gap: 30px;
}

.topBar_section2Dividir_nav a {
    color: black;
    font-size: 11px;
    padding: 8px 0 !important;
}

/* SECTION 3 */
.topBar_section3 {
    padding: 15px;
    width: 100%;
}
.topBar_section3_nav{
    gap: 2px !important;
    justify-content: space-between;
}

.topBar_section3_img {
    width: 78px;
    height: 60px;
}

.topBar_section3_textImg {
    display: none;
}

.topBar_section3_containerSearchDesktop {
    display: none !important;
}

.topBar_section3_formSearchDesktop {
    position: relative;
}

.topBar_section3_formSearchDesktop input {
    background-color: #E6E3DF;
    border: 0px none rgb(193, 192, 192);
    width: 220px;
    height: 30px;
    box-shadow: none !important;
}

.topBar_section3_formSearchDesktop input::placeholder {
    font-size: 11px;
    padding-left: 10px;
}

.topBar_section3_formSearchDesktop i {
    position: absolute;
    right: 10px;
    top: 7px;
    color: rgb(148, 147, 147);
}
.topBar_section3_i{
    font-size: 24px;
    padding-left: 5px;
}
.topBar_section3_spanText{
    font-size: 13px !important;
}
.topBar_section3_modalCart {
    top: 17%;
}

.topBar_section3_formSearch {
    display: none;
}

.topBar_section3_formSearch_input {
    width: 100%;
    box-shadow: 1px blue;
}

.topBar_section3_formSearch_input::placeholder {
    padding-left: 4px;
    font-size: 14px;
}

/* SECTION 4 */
.topBar_section4,
.topBar_section4Dividir {
    display: none;
}

/* SECTION 5 */
.topBar_section5 {
    display: none;
    padding: 0 35px;
}
.topBar_section5_nav{
    justify-content: space-between;
}
.topBar_section5_nav a{
    font-size: 14px;
    color: black;
}
.topBar_section5_nav span{
    font-size: 16px;
}
.topBar_section5_buttonNoPadding{
    padding: 8px 0 !important;
}
.topBar_section5_button, .topBar_section5_Toggle, .topBar_section5_button:hover, .topBar_section5_Toggle:hover,.topBar_section5_button:active, .topBar_section5_Toggle:active, .topBar_section5_button:focus, .topBar_section5_Toggle:focus{
    background-color: transparent !important;
    color: black !important;
    border: none !important;
    box-shadow: none !important;
}
.topBar_section5_Menu{
    background-color: #f8f9fc;
}
.topBar_section5_subMenuLi{
    width: 300px !important;
}
.topBar_section5_subMenuDropdown{
    display: flex;
    justify-content: space-between;
}
.topBar_section5_subMenubutton{
    text-align: left;
}
.topBar_section5_subMenuToggle{
    text-align: right;
}

@media (min-width: 768px) {
    .topBar_section1{
        padding: 0 35px;
        justify-content: space-between;
    }
    .topBar_section1 nav {
        width: 100%;
        justify-content: space-between;
    }
    .topBar_section3 {
        padding: 15px 35px;
    }
    .topBar_section3_i{
        font-size: 26px;
        padding-left: 13px;
    }
}

@media (min-width: 1024px) {

    /* SECTION 1 */
    .topBar_section1 nav {
        max-width: 1200px;
        margin: 0 auto;
    }

    .topBar_section1 a {
        font-size: 14px;
    }

    .topBar_section1 a:hover,
    .topBar_section2Dividir a:hover {
        text-decoration: underline;
    }

    /* SECTION 2 */
    .topBar_section2Dividir_container {
        display: block;
    }

    /* SECTION 3 */
    .topBar_section3 nav {
        max-width: 1200px;
        margin: 0 auto;
    }

    .topBar_section3_textImg {
        display: block;
        position: absolute;
        font-size: 12px;
    }

    .topBar_section3_containerSearchDesktop {
        display: block !important;
        margin: auto 0;
    }

    .topBar_section3_navNoneDeks {
        display: none !important;
    }


    /* SECTION 4 */
    .topBar_section4Dividir {
        display: flex;
        padding-bottom: 10px;
        border-top: 1px solid rgb(234, 233, 233);
    }

    /* SECTION 5 */
    .topBar_section5 {
        display: block;
        
    }
    .topBar_section5_nav{
        max-width: 1200px;
        margin: 0 auto;
    }
}