.SecondPage_container {
    padding: 0 15px 36px;
}

.SecondPage_container_section1 {
    max-width: 1200px;
    margin: 0 auto;
}

.SecondPage_container_article1 {
    padding-bottom: 36px;
}

/* WhereToFindUs */
.SecondPage_container_article1_iframeDeGugul {
    width: 100%;
    height: 446px;
}

/* Contact */
.SecondPage_container_article1_contact {
    display: flex;
    flex-flow: column wrap;
}

@media (min-width: 768px) {
    .SecondPage_container {
        padding: 0 35px 36px;
    }

    /* Contact */
    .SecondPage_container_article1_contact {
        flex-flow: row wrap;
        justify-content: space-between;
    }
}

@media (min-width: 1024px) {}